 <header>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <img class="logo" src="https://br.jackvartanian.com/arquivos/logo-agencian1-escuro.png?v=636807343142400000" alt="Logo Agência N1">
          </div>
        </div>

        <div class="nav-links hidden-md">
            <a href="//github.io/jo_geek" target="_blank">Games</a>
            <a href="http://stackoverflow.com/users/4084003/" target="_blank">Presentes</a>
            <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank" class="active">SALE</a>
        </div>

        <div class="nav-search ">
            
            <img class="icon" src="{{rootURL}}/icons/search.svg" alt="search icon">
            <input type="text" name="busca" id="buscaItens" class="search-input" placeholder="Digite o que procura">
        </div>

        <div class="nav-shopping-cart badge" data-badge="{{cartItems}}">
            <img class="cart-icon "  src="{{rootURL}}/icons/shopping-cart.svg" alt="carrinho de compras">
        </div>


        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
       
      </div>
  </header>

  <div class="container">

<form id="login-form" class="modal">
  <h1>oi</h1>
</form>

<a href="#login-form" rel="modal:open">Login</a>

      <div class="flex-grid-thirds">
        <div class="col-1 col-s-12">
            <img class="product-image--small" src="{{defaultProduct.banner}}" alt="mario" >
        </div>
        <div class="col-6 col-s-12">
            <img class="product-image" src="{{defaultProduct.banner}}" alt="mario">
        </div>
        <div class="col-5 col-s-12">
         
            <h1 class="product-title">{{defaultProduct.description}}</h1>
            <div class="product-card-shop">
                <div class="row">
                    <label for="de"> de R$ {{defaultProduct.originalPrice}}</label>
                </div>
                <div class="row valign-wrapper">
                 
                        <label for="preco">por</label>
                        <h5 class="product-price">R$ {{defaultProduct.price}}</h5>

                   
                </div>
                <div class="row">

                    <button class="btn" {{action "addProductToCart" defaultProduct}}>COMPRA AE</button>
                </div>
            </div>
            <div class="product-card-frete">
                <div class="row valign-wrapper--evenly ">
                        <div class="col-12 col-s-12">
                            <h5 class="title-frete">CALCULE O FRETE</h5>
                        </div>
                       
                </div>
                <div class="row valign-wrapper--evenly ">

                            
                            <input class="custom-input" type="text" name="cep" id="" placeholder="00000">
                      
                        
                            <input  class="custom-input custom-input--sm" type="text" name="cep" id="" placeholder="000">
                   
                     
                            <button class="btn btn--dark">Calcular</button>
                     
                </div>
            </div>
        </div>
      </div>
      
      <div class="flex-grid">
            <div class="col-12 col-s-12">
                <h4 class="title--dark">
                    Descrição do Produto
                </h4>
                <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut diam vel nisi sagittis ultricies vitae sed dolor. Suspendisse accumsan justo sit amet sapien semper, quis euismod purus tempus. Donec tincidunt nibh sed lacinia hendrerit. Mauris nec sem nec urna fermentum condimentum. Etiam nisl metus, molestie nec ultricies et, eleifend eu nibh. Nullam placerat venenatis lorem, vel scelerisque risus venenatis eget. Nullam accumsan nisl sit amet eros ornare viverra.
                </p>
                <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut diam vel nisi sagittis ultricies vitae sed dolor. Suspendisse accumsan justo sit amet sapien semper, quis euismod purus tempus. Donec tincidunt nibh sed lacinia hendrerit. Mauris nec sem nec urna fermentum condimentum. Etiam nisl metus, molestie nec ultricies et, eleifend eu nibh. Nullam placerat venenatis lorem, vel scelerisque risus venenatis eget. Nullam accumsan nisl sit amet eros ornare viverra.
                </p>
            </div>
           
          </div>
        <div class="flex-grid">
            <div class="col-12 col-s-12">
                <h4 class="title--dark">
                    Quem viu, viu também
                </h4>
            </div>
           
        </div>
          
        <div class="flex-grid-thirds product-list">
            {{#each products as |product|}}
                <div class="col-4 col-s-12 product-jumbo">
                        <img class="product-image--md" src="{{product.banner}}" alt="mario" >
                        <h5>{{product.description}}</h5>
                        <div class="card-shop">
                            <label class="label--sm" for="de"> de R$ {{product.originalPrice}}</label>
                            <h5 class="product-price">por R$ {{product.price}}</h5>          
                        </div>
                </div>
            {{/each}}
        </div>
  </div>

  <footer class="footer">
      <div class="row-footer">
          <div class="col-3 footer--dark">
            <img class="footer-logo" src="{{rootURL}}/images/agencia-footer.PNG" alt="Logo Agência N1">
          </div>
          <div class="col-9 ">
              <p>Agência N1 - Todos os direitos reservados.</p>
          </div>
      </div>
  </footer>
{{outlet}}